.container-related {
  padding-top: var(--margin-site-mobile);
  @media (--mq-sm) {
    padding-top: var(--margin-site-desktop);
  }
  h2 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
  }
  .section-list {
    margin: 0 0 var(--margin-site-mobile);
    @media (--mq-sm) {
      margin: 0 0 var(--margin-site-desktop);
    }
  }
}

.related {
  .zoom {
    img {
      transform: scale(1.05) translateY(3px);
    }
  }
  img {
    transform: scale(1) translateY(0);
    transition: transform 0.3s ease-in;
  }
  a.related-link {
    padding-bottom: var(--margin-site-mobile);
    @media (--mq-sm) {
      padding-bottom: var(--margin-site-desktop);
    }
    text-decoration: none;
    display: inline-block;
    width: 100%;
    p {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.5px;
      margin-bottom: 15px;
    }
    .tag {
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      opacity: 0.6;
      margin-bottom: 7px;
      margin-top: 15px;
    }
    &:hover {
      h3 {
        text-decoration: underline;
      }
    }
  }
}
