.themecontainer {
  position: relative;

  @media screen and (max-width: 375px) {
    height: 85vh;
  }

  @media screen and (min-width: 414px) {
    height: 70vh;
  }
  @media screen and (min-width: 667px) {
    height: 120vh;
  }
  @media screen and (min-width: 736px) {
    height: 100vh;
  }
  @media screen and (min-width: 768px) {
    height: 40vh;
  }

  .theme {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    transition: 0.4s ease-in;
    display: none;

    @media screen and (min-width: 1024px) {
      max-width: 75%;
    }

    &.active-theme {
      z-index: 1;
      opacity: 1;
    }
  }
}
.ai-view3-left-illu {
  svg {
    width: 100%;
    height: 100%;
  }
}

.toggle-container {
  position: relative;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    max-width: 600px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1024px) {
    max-width: none;
    width: 450px;
    height: 450px;
  }
  @media screen and (min-width: 1400px) {
    max-width: none;
    width: 600px;
    height: 600px;
  }

  svg {
    width: 80%;
    margin: 0 auto;
    display: block;
    @media screen and (min-width: 414px) {
    }
    @media screen and (min-width: 667px) {
      width: 50%;
    }
    @media screen and (min-width: 736px) {
      width: 60%;
    }
    @media screen and (min-width: 1024px) {
      width: 100%;
      margin: 0;
    }
  }
}
.toggler {
  position: absolute;
  z-index: 200;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: 0.4s ease-in;

  @media screen and (max-width: 414px) {
    height: 40px;
  }

  @media screen and (min-width: 1024px) {
    background-color: transparent;
  }
  @media (hover: hover) {
    &:hover,
    &:focus {
      color: #799967;
      transform: translateY(-5px);
    }
  }
}
.interactive-ai {
  bottom: 170px;
  right: 75px;

  @media screen and (min-width: 414px) {
    bottom: 190px;
    right: 90px;
  }
  @media screen and (min-width: 667px) {
    bottom: 210px;
    right: 212px;
  }
  @media screen and (min-width: 736px) {
    bottom: 280px;
    right: 225px;
  }
  @media screen and (min-width: 768px) {
    bottom: 240px;
    right: 190px;
  }
  @media screen and (min-width: 1024px) {
    bottom: 195px;
    right: 128px;
  }
  @media screen and (min-width: 1400px) {
    bottom: 255px;
    right: 185px;
  }
}
.text-ai {
  top: 30px;
  right: 153px;

  @media screen and (min-width: 414px) {
    top: 30px;
    right: 170px;
  }
  @media screen and (min-width: 667px) {
    top: 45px;
    left: 295px;
  }

  @media screen and (min-width: 736px) {
    top: 60px;
    left: 325px;
  }
  @media screen and (min-width: 768px) {
    top: 50px;
    left: 275px;
  }

  @media screen and (min-width: 1024px) {
    top: 40px;
    left: 200px;
  }
  @media screen and (min-width: 1400px) {
    top: 60px;
    left: 275px;
  }
}
.visual-ai {
  top: 100px;
  right: 60px;

  @media screen and (min-width: 414px) {
    top: 110px;
    right: 70px;
  }
  @media screen and (min-width: 667px) {
    top: 130px;
    right: 190px;
  }
  @media screen and (min-width: 736px) {
    top: 170px;
    right: 195px;
  }
  @media screen and (min-width: 768px) {
    top: 150px;
    right: 165px;
  }
  @media screen and (min-width: 1024px) {
    top: 115px;
    right: 110px;
  }
  @media screen and (min-width: 1400px) {
    top: 160px;
    right: 155px;
  }
}
.analytic-ai {
  bottom: 280px;
  left: 52px;

  @media screen and (min-width: 414px) {
    bottom: 180px;
    left: 90px;
  }
  @media screen and (min-width: 667px) {
    bottom: 195px;
    left: 212px;
  }
  @media screen and (min-width: 736px) {
    bottom: 260px;
    left: 225px;
  }
  @media screen and (min-width: 768px) {
    bottom: 225px;
    left: 190px;
  }
  @media screen and (min-width: 1024px) {
    bottom: 175px;
    left: 128px;
  }
  @media screen and (min-width: 1400px) {
    bottom: 245px;
    left: 180px;
  }
}
.functional-ai {
  top: 225px;
  left: 70px;

  @media screen and (min-width: 414px) {
    top: 115px;
    left: 53px;
  }
  @media screen and (min-width: 667px) {
    top: 125px;
    left: 175px;
  }
  @media screen and (min-width: 736px) {
    top: 170px;
    left: 175px;
  }
  @media screen and (min-width: 768px) {
    top: 150px;
    left: 145px;
  }
  @media screen and (min-width: 1024px) {
    top: 115px;
    left: 92px;
  }
  @media screen and (min-width: 1400px) {
    top: 160px;
    left: 135px;
  }
}
