.container.view5
    section#view5(data-component="ai-toggle")
        .row.ai-component(data-component="module")
            .col-xs-12.col-md-6
                .ai-view3-left-illu.module
                    .image-holder
                        h2 How is AI used?
                        p Interact with the tree to discover the kinds of ai
                        .toggle-container
                            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 234.82 365.15">
                            <line x1="115.77" y1="71.96" x2="115.76" y2="353.8" style="fill: none;stroke: #1d1d1b;stroke-miterlimit: 10;stroke-width: 2px"/>
                            <line x1="96.93" y1="219.35" x2="115.75" y2="237.22" style="fill: none;stroke: #1d1d1b;stroke-miterlimit: 10;stroke-width: 2px"/>
                            <line x1="67.19" y1="119.33" x2="115.75" y2="174.27" style="stroke: #1d1d1b;stroke-miterlimit: 10;stroke-width: 2px"/>
                            <line x1="164.32" y1="119.2" x2="115.76" y2="174.13" style="fill: none;stroke: #1d1d1b;stroke-miterlimit: 10;stroke-width: 2px"/>
                            <line x1="135.8" y1="218.21" x2="115.76" y2="237.23" style="fill: none;stroke: #1d1d1b;stroke-miterlimit: 10;stroke-width: 2px"/>
                            <ellipse cx="42.96" cy="131.32" rx="1.83" ry="1.97" transform="translate(-94.86 141.12) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="28.57" cy="127.64" rx="1.83" ry="1.97" transform="translate(-102.19 124.38) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="17.24" cy="117.58" rx="1.83" ry="1.97" transform="translate(-101 105.77) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="12.37" cy="104.23" rx="1.83" ry="1.97" transform="translate(-91.74 90.93) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="14.54" cy="89.44" rx="1.83" ry="1.97" transform="translate(-75.75 81.84) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="23.06" cy="77.45" rx="1.83" ry="1.97" transform="translate(-57.67 81.02) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="36.86" cy="70.45" rx="1.83" ry="1.97" transform="translate(-40.42 89.11) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="53.17" cy="71.96" rx="1.83" ry="1.97" transform="translate(-29.54 106.07) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="65.97" cy="79.84" rx="1.83" ry="1.97" transform="translate(-27.49 124.46) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="72.26" cy="92.67" rx="1.83" ry="1.97" transform="translate(-35.18 140.27) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="72.97" cy="106.89" rx="1.83" ry="1.97" transform="translate(-48.43 151.74) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="67.19" cy="119.33" rx="1.83" ry="1.97" transform="translate(-64.88 155.55) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="56.67" cy="127.44" rx="1.83" ry="1.97" transform="translate(-80.71 151.49) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="66.26" cy="242.65" rx="1.83" ry="1.97" transform="translate(-185.22 248.04) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="51.87" cy="238.98" rx="1.83" ry="1.97" transform="translate(-192.55 231.3) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="40.55" cy="228.91" rx="1.83" ry="1.97" transform="translate(-191.36 212.68) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="35.67" cy="215.56" rx="1.83" ry="1.97" transform="translate(-182.1 197.84) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="37.85" cy="200.77" rx="1.83" ry="1.97" transform="translate(-166.1 188.76) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="46.37" cy="188.78" rx="1.83" ry="1.97" transform="translate(-148.02 187.94) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="60.17" cy="181.78" rx="1.83" ry="1.97" transform="translate(-130.78 196.03) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="76.47" cy="183.29" rx="1.83" ry="1.97" transform="translate(-119.9 212.99) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="89.28" cy="191.17" rx="1.83" ry="1.97" transform="translate(-117.85 231.38) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="95.56" cy="204" rx="1.83" ry="1.97" transform="translate(-125.53 247.19) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="96.28" cy="218.22" rx="1.83" ry="1.97" transform="translate(-138.79 258.65) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="90.49" cy="230.67" rx="1.83" ry="1.97" transform="translate(-155.24 262.47) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="79.97" cy="238.77" rx="1.83" ry="1.97" transform="translate(-171.07 258.4) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="162.33" cy="231.2" rx="1.83" ry="1.97" transform="translate(-101.36 332.56) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="147.94" cy="227.53" rx="1.83" ry="1.97" transform="translate(-108.69 315.82) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="136.61" cy="217.46" rx="1.83" ry="1.97" transform="translate(-107.5 297.21) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="131.74" cy="204.11" rx="1.83" ry="1.97" transform="translate(-98.25 282.37) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="133.91" cy="189.32" rx="1.83" ry="1.97" transform="translate(-82.25 273.28) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="142.43" cy="177.33" rx="1.83" ry="1.97" transform="translate(-64.17 272.47) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="156.23" cy="170.33" rx="1.83" ry="1.97" transform="translate(-46.93 280.55) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="172.54" cy="171.84" rx="1.83" ry="1.97" transform="translate(-36.04 297.52) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="185.34" cy="179.73" rx="1.83" ry="1.97" transform="translate(-33.99 315.91) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="191.63" cy="192.55" rx="1.83" ry="1.97" transform="translate(-41.68 331.72) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="192.34" cy="206.77" rx="1.83" ry="1.97" transform="translate(-54.93 343.18) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="186.56" cy="219.22" rx="1.83" ry="1.97" transform="translate(-71.38 347) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="176.04" cy="227.33" rx="1.83" ry="1.97" transform="translate(-87.22 342.93) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="190.54" cy="132.22" rx="1.83" ry="1.97" transform="translate(16.03 284.97) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="176.15" cy="128.55" rx="1.83" ry="1.97" transform="translate(8.7 268.23) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="164.83" cy="118.48" rx="1.83" ry="1.97" transform="translate(9.89 249.62) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="159.95" cy="105.13" rx="1.83" ry="1.97" transform="translate(19.14 234.78) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="162.13" cy="90.34" rx="1.83" ry="1.97" transform="translate(35.14 225.69) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="170.65" cy="78.35" rx="1.83" ry="1.97" transform="translate(53.22 224.88) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="184.45" cy="71.35" rx="1.83" ry="1.97" transform="translate(70.46 232.96) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="200.75" cy="72.86" rx="1.83" ry="1.97" transform="translate(81.35 249.93) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="213.56" cy="80.74" rx="1.83" ry="1.97" transform="translate(83.4 268.32) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="219.84" cy="93.57" rx="1.83" ry="1.97" transform="translate(75.71 284.13) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="220.56" cy="107.79" rx="1.83" ry="1.97" transform="translate(62.46 295.59) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="214.77" cy="120.24" rx="1.83" ry="1.97" transform="translate(46.01 299.41) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="204.25" cy="128.34" rx="1.83" ry="1.97" transform="translate(30.17 295.34) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="116.05" cy="72.64" rx="1.83" ry="1.97" transform="translate(17.42 167.59) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="101.66" cy="68.96" rx="1.83" ry="1.97" transform="translate(10.09 150.85) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="90.34" cy="58.89" rx="1.83" ry="1.97" transform="translate(11.28 132.24) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="85.46" cy="45.54" rx="1.83" ry="1.97" transform="translate(20.54 117.4) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="87.64" cy="30.75" rx="1.83" ry="1.97" transform="translate(36.53 108.31) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="96.16" cy="18.77" rx="1.83" ry="1.97" transform="translate(54.61 107.49) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="109.96" cy="11.77" rx="1.83" ry="1.97" transform="translate(71.86 115.58) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="126.27" cy="13.28" rx="1.83" ry="1.97" transform="translate(82.74 132.54) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="139.07" cy="21.16" rx="1.83" ry="1.97" transform="translate(84.79 150.93) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="145.35" cy="33.99" rx="1.83" ry="1.97" transform="translate(77.1 166.75) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="146.07" cy="48.21" rx="1.83" ry="1.97" transform="translate(63.85 178.21) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="140.29" cy="60.65" rx="1.83" ry="1.97" transform="translate(47.4 182.02) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            <ellipse cx="129.77" cy="68.76" rx="1.83" ry="1.97" transform="translate(31.57 177.96) rotate(-75.95)" style="stroke: #000;stroke-miterlimit: 10"/>
                            </svg>
                            button.toggler.text-ai(data-themebutton="1" aria-label="toggle text about Text Ai") Text
                            button.toggler.functional-ai(data-themebutton="2" aria-label="toggle text about Functional Ai") Functional
                            button.toggler.analytic-ai(data-themebutton="3" aria-label="toggle text about Analytic Ai") Analytic
                            button.toggler.visual-ai(data-themebutton="4" aria-label="Toggle text about Visual Ai") Visual
                            button.toggler.interactive-ai(data-themebutton="5" aria-label="Toggle text about Interactive Ai") Interactive



            .col-xs-12.col-md-6
                .themecontainer.module-content
                    .ai-view3-right-text.theme(data-theme="1")
                        p.tag Text Ai
                        h2 Why is it relevant?
                        p Text Intelligence makes it possible to read, hear and understand chunks of text, but also generate new chunks with a correct meaning.

                        h2 Where can it be used?
                        p The technology can be applied to chatbots and voice operating software such as Siri, Alexa and Google.
                    .ai-view3-right-text.theme(data-theme="2")
                        p.tag Functional Ai
                        h2 Why is it relevant?
                        p Functional Intelligence is probably one of the wider well known types of Ai, used in software for self-driving technology and robots.

                        h2 Where can it be used?
                        p Physical robot technologoy and self-driving vehicles, but also to communicate between machines.
                    .ai-view3-right-text.theme(data-theme="3")
                        p.tag Analytic Ai
                        h2 Why is it relevant?
                        p Analytic Intelligence can be an efficient tool for organisations to cut down in human operated tasks. The technology can be used to calculate things based on some input data.

                        h2 Where can it be used?
                        p It can be used to calculate different scenarios. We have used it for our client: Bolighed, to give the users an idea of a initial price of their property by typing in some simple data. See the case here.
                        a.primary-link(href="https://bolighed.dk/" data-component="primary" target="_blank")
                            span See the case here
                    .ai-view3-right-text.theme(data-theme="4")
                        p.tag Visual Ai
                        h2 Why is it relevant?
                        p Visual Intelligence can be used for image processing with focus on the development of data extraction techniques applied toward the statistical classification of visual imagery in order to get an enhanced image or to extract some useful information from it. 

                        h2 Where can it be used?
                        p Image processing programs or databases. It can be used to recognize visual things such as faces or furniture. We used Visual Intelligence in coorporation with our client: SMK.
                        a.primary-link(href="https://www.stromlin.dk/work/smk/" data-component="primary" target="_blank")
                            span See the case here
                    .ai-view3-right-text.theme(data-theme="5")
                        p.tag Interactive Ai
                        h2 Why is it relevant?
                        p Interactive Intelligence is important in many aspects of the world that we live in today. It has opened up for for new possibilities at anything from daily tasks to life saving tasks.

                        h2 Where can it be used?
                        p Interactive Intelligence can be used to help professionals in the respected fields to more efficiently find information about such as students and patients, it's also used in voice machines for mute people and chatbots.
