.container-fluid.view4 
    .container
        section#view3
            .row.module.ai-component#bottom(data-component="module")
                .col-xs-12.col-md-6
                    .ai-view4-left-text.module-content
                        h2 Advantages of Ai
                        p Artificial Intelligence brings great advantages to your business. Once implemented it requires a limited to zero amount of maintenance while at the same time, it makes your employees more efficient in other areas. Ai should not be seen as a complete compensation for a work area, but as a powerful tool to improve the workflow of a team. 
                .col-xs-12.col-md-6
                    .hero-illustration(data-component="bodymovin3")
                        .image-container2(data-json="/assets/bodymovin/how_nodelay.json")
                    