.container-fluid.view4   
        section#view3
            .row.module.ai-component#bottom(data-component="module")
                .col-xs-12.col-md-6
                    .ai-view4-left-text.module-content
                        h2 Advantages of Ai
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate.adipiscing elit, sed diam nonummy.
                .col-xs-12.col-md-6
                    .hero-illustration(data-component="bodymovin3")
                        .image-container2(data-json="/assets/bodymovin/how_nodelay.json")
                    