.container-fluid.view2
    .container
        section#view2
            .row.module.ai-component(data-component="module")
                .col-xs-12.col-md-6
                    .ai-view2-left-text.module-content
                        h2 What business potential do Ai have?
                        p Ai is a powerful tool, and if it's used correct, it can transform a business by reducing costs, managing risks, streamlining operations, accelerating growth, and fueling innovation. 

                        p Organizations can improve sales performance by using algorithms to help with the basics of account and lead prioritization and qualification, recommending the content or sales action that will lead to succes and reallocating sales resources to the places they can have the most impact.
                .col-xs-12.col-md-6
                    .hero-illustration(data-component="bodymovin2")
                        .image-container1(data-json="/assets/bodymovin/bizz_nodelay.json")
