# See https://help.github.com/ignore-files/ for more about ignoring files.

build
Web
node_modules
.idea
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# For testing purposes only - remove if you are using firebase in project:
# -----
.firebase
.firebaserc
firebase.json
firebase-debug.log
# -----