meta(name="og:title" content="1508")
meta(name="og:type" content="website")
meta(name="og:url" content="https://1508.dk")
meta(name="og:site_name" content="1508")
meta(name="og:description" content="")
meta(property="og:image" content="/assets/images/logo.png")

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content="1508")
meta(name="twitter:description" content="")
meta(name="twitter:image" content="/assets/images/logo.png")
