//- script(src='https://cdn.polyfill.io/v2/polyfill.min.js?features=Array.from,Array.prototype.includes,Object.values,es5,es6,fetch,matchMedia,viewport,CustomEvent', crossorigin='anonymous')
script(src='https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver%2CArray.prototype.includes%2CArray.from%2CObject.values%2Ces5%2Ces6%2Cfetch%2CmatchMedia%2C%7Eviewport%2CCustomEvent%2CURL%2CElement.prototype.closest%2CNodeList.prototype.forEach%2CArray.prototype.forEach%2CElement.prototype.classList%2CResizeObserver', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/js-polyfills/0.1.42/polyfill.min.js')
// script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js', crossorigin='anonymous', defer='defer')
// script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/plugins/ScrollToPlugin.min.js', crossorigin='anonymous', defer='defer')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.10/lottie.js')

