svg(xmlns="http://www.w3.org/2000/svg", style="display: none")
  symbol#svg-arrow-right(viewBox="0 0 20 30")
    polyline(points="5,5 15,15 5,25" style="fill:none;stroke:currentColor;stroke-width:7")
  symbol#svg-arrow-left(viewBox="0 0 20 30")
    polyline(points="15,5 5,15 15,25" style="fill:none;stroke:currentColor;stroke-width:7")
  symbol#svg-arrow-up(viewBox="0 0 30 20")
    polyline(points="5,15 15,5 25,15" style="fill:none;stroke:currentColor;stroke-width:7")
  symbol#svg-arrow-down(viewBox="0 0 30 20")
    polyline(points="5,5 15,15 25,5" style="fill:none;stroke:currentColor;stroke-width:7")
