.container-fluid.container-full
    .hero.hero-bg.textcolor-white.ai-hero(data-component="hero")
        .container(data-component="parallax")
            .col-xs-12.col-md-6

                .hero-ctapa.hero-ai-cta 
                    h1.white Artificial Intelligence
                    p.white Artificial intelligence is a broad phenomena covering multiple technologies utilized in different ways. AI, for short, is all around us and we meet it more often than we might think.
            .col-xs-12.col-md-6
                .hero-illustration(data-component="bodymovin")
                    .image-container(data-json="/assets/bodymovin/brain_dot.json")
                    


        .hero-more
            .hero-dot.hero-dot-one.bg-white
            .hero-dot.hero-dot-two.bg-white
            .hero-dot.hero-dot-three.bg-white