.container-fluid.container-full
    .hero.hero-bg.colorText-white.hero-bg-index(data-component="hero")
        .container(data-component="parallax")
            .hero-cta.hero-ctapa
                h1 We apply creative technology to meet human needs and solve complex business challenges.
                a.primary-hero( href="/" data-component="primary")
                    span Our services
        .hero-more
            .hero-dot.hero-dot-one
            .hero-dot.hero-dot-two
            .hero-dot.hero-dot-three