.container-fluid.container-full
    .hero.hero-bg.textcolor-white.technology-hero(data-component="hero")
        .container(data-component="parallax")
            .hero-cta
                h1.white.hero-cta &nbsp &nbsp  Learn about <br> the technology we operate with <br> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  and how it could benefit you
                
        .hero-more
            .hero-dot.hero-dot-one.bg-white
            .hero-dot.hero-dot-two.bg-white
            .hero-dot.hero-dot-three.bg-white