.container-fluid.container-full
    .hero.hero-bg.colorText-white.hero-bg-dev(data-component="hero")
        .container(data-component="parallax")
            .hero-cta.hero-ctapa
                h1 Coming soon!
                p Stay tuned
                