.container
    section#fixednav
        .row
            .col-xs-12
                .fixednav
                    ul
                        li.mobilenavhead
                            a(href="/") Fold out
                        .inner
                            li
                                a(href="/") What is it?
                            li
                                a(href="/") It's potential
                            li
                                a(href="/") Why is it relevant?
                            li
                                a(href="/") Advantages
                            li
                                a(href="/") Types of Ai
                            li
                                a(href="/") Contact