extends ../templates/layout.pug

block vars
  - var title='Page Not Found'

block content
  section
    .container
      .row
        .col-md-12
          h2 404
          h1 Page Not Found
          p The specified file was not found on this website. Please check the URL for mistakes and try again.