extends ../templates/layout.pug

block vars
  - title='Technology'
  - bodyClass='textcolor-white'


block content
  include ../components/hero/hero-ai
  include ../components/ai/ai-carousel
  include ../components/ai/ai-view2
  include ../components/ai/ai-toggle
  include ../components/ai/ai-view4
  include ../components/ai/ai-types-carousel
  //- include ../components/fixednav/fixednav
  include ../components/ai-contact/ai-contact
  

