extends ../templates/layout.pug

block vars
  - title='Technology'
  - bodyClass='textcolor-white'


block content
  include ../components/hero/hero-ai
  include ../components/ai/ai-carousel
  include ../components/ai/ai-view2

