extends ../templates/layout.pug

block vars
  - title='Stromlin - Human Technology - Artificial Intelligence'
  - bodyClass='textcolor-white'


block content
  include ../components/hero/hero-ai
  include ../components/ai-carousel/ai-carousel
  include ../components/ai-potential/ai-potential
  include ../components/ai-toggle/ai-toggle
  include ../components/ai-advantages/ai-advantages
  include ../components/ai-types/ai-types-carousel
  include ../components/ai-contact/ai-contact
  

