section.container.contact-form(data-component="contactform")
    .row
        .col-lg-8.col-lg-offset-2
            .form-selector
                a(data-form="informal").formlink.formlink-informal.is-active Informal
                a(data-form="formal").formlink.formlink-formal Formal
        .col-lg-9.col-lg-offset-2
            .form-container.form-informal(data-component="formalContact")
                form#informal_contactform.informal-contactform
                    input(type="hidden" value="info@headnet.dk" id="formalinmail")
                    input(type="hidden" value="Henvendelse via den uformelleformular" id="formalemailsubject")
                    input(type="hidden" value="Informal" id="formtype")
                    <p> My name is <input type="text" autocomplete="on" name="formalname" id="formalname" placeholder="Your name" data-inputname></p>
                    <p>I am <input type="text" autocomplete="on" name="formalrole" id="formalrole" placeholder="A Digital Manager" data-ionputrole>and i want to hear more about <input type="text" autocomplete="on" name="formaltopic" id="formaltopic" placeholder="Machine Learning" data-inputtopic></p>
                    <p>My e-mail is <input type="text" autocomplete="on" name="formalemail" id="formalemail" placeholder="your E-mail" data-inputemail></p>
                    button(type="submit" id="informalformbutton" data-component="primary" disabled).primary-link.informal-submit 
                        span Let's talk    
                .form-reply#informal_contactform_reciepttext
                    p Great, thanks!
                    p We will contact youo soon <br> but if you can't wait, feel free to call <br> Our CEO Morten Brandt:
                    p +45 4084 0300 <br> <a href="mailto:morten@stormlin.dk">morten@stormlin.dk</a>
            .form-container.form-formal(data-component="informalContact")
                form#formal_contactform.formal-contactform
                    input(type="hidden" value="info@headnet.dk" id="formalinmail")
                    input(type="hidden" value="Henvendelse via den formelleformular" id="formalemailsubject")
                    input(type="hidden" value="Formal" id="formtype")
                    .formal-input
                        label(for="formalnamr") Name
                        input(type="text" autocomplete="on" name="formalname" id="formalname" placeholder="Name" class="informalInput" data-inputname)
                    .formal-input
                        label(for="formalrole") Role
                        input(type="text" autocomplete="on" name="formalrole" id="formalrole" placeholder="Role" class="informalInput" data-inputrole)
                    .formal-input
                        label(for="formaltopic") Topic
                        input(type="text" autocomplete="on" name="formaltopic" id="formaltopic" placeholder="Topic" class="informalInput" data-inputtopic)
                    .formal-input
                        label(for="formalemail") E-mail
                        input(type="text" autocomplete="on" name="formalemail" id="formalemail" placeholder="Email" class="informalInput" data-inputemail)
                    button#formalformbutton.primary-link.formal-submit(data-component="primary" disabled)
                        span Request a meeting
                .form-reply#formal_contactform_reciepttext
.umb-grid
    .grid-section
        .grid-container
            .container.module.module-inview(data-component="module")
                .row.clearfix
                    .col-xs-12.col-md-12.column
                        .module-image(data-component="moduleimage")