header(data-component="header")
  .container
    nav
      .logo.active
        a(href="/").logotext Stromlin
        span.logo-tagline Human Technology
      .burger
        a(href="/").burger-link
          .burger-dot.burger-dot-one
          .burger-dot.burger-dot-two
          .burger-dot.burger-dot-three
      ul.menu
        li.menuitem
          a(href="https://www.stromlin.dk/work/" target="_blank").menuitem-link Work
        li.menuitem
          a.menuitem-link.techlink Technology
          ul.mobile
            li.mobilelink
              a.mobileitem(href="/ai.html") Artificial Intelligence
            li.mobilelink
              a.mobileitem(href="/development.html") Automation
            li.mobilelink
              a.mobileitem(href="/development.html") Personalisation
            li.mobilelink
              a.mobileitem(href="/development.html") CMS Systems
        li.menuitem
          a(href="https://www.stromlin.dk/services/" target="_blank").menuitem-link Services
        li.menuitem
          a(href="https://www.stromlin.dk/agency/" target="_blank").menuitem-link Agency
        li.menuitem
          a(href="/contact.html").menuitem-link Contact
        ul.menu2
          li.menuitem2
            a(href="/ai.html").menuitem-link Artificial Intelligence
          li.menuitem2
            a(href="/development.html").menuitem-link Automation
          li.menuitem2
            a(href="/development.html").menuitem-link Personalisation
          li.menuitem2
            a(href="/development.html").menuitem-link CMS systems

