header(data-component="header")
  .container
    nav
      .logo.active
        a(href="/").logotext Stromlin
        span.logo-tagline Human Technology
      .burger
        a(href="/").burger-link
          .burger-dot.burger-dot-one
          .burger-dot.burger-dot-two
          .burger-dot.burger-dot-three
      ul.menu
        li.menuitem
          a(href="/").menuitem-link Work
        li.menuitem
          a(href="/").menuitem-link Technology
        li.menuitem
          a(href="/").menuitem-link Services
        li.menuitem
          a(href="/").menuitem-link Agency
        li.menuitem
          a(href="/contact.html").menuitem-link Contact
