footer
  .container
    .footer-container(data-component="footer")
      .row
        .col-xs-12.col-sm-4.footer-section
          p.header.logotext.active Stromlin
          address
            p Wilders Plads 15C <br> 1403 København K
            p <a href="tel:+4570229750">+45 7022 9750</a>
            p <a href="mailto:info@stromlin.dk">info@stromlin.dk</a>
            p <a href="mailto:support@stromlin.dk">support@stromlin.dk</a>
            p <a href="/" title="Privacy policy">Privacy Policy</a>
            p CVR: 29202850
        .col-xs-12.col-sm-4.footer-section
          p.header We are well connected
          address
            p <strong>Engagement:</strong><br> Part of <a href="/" rel="noopener">1508</a> Group <br> <a rel="noopener">Umbrace</a> Gold Partner
            p <strong>Commerce: <br></strong> Certified <a href="/" rel="noopener">Ucommrce</a> Partner
            p <strong>Payment: <br></strong> <a href="/" rel="noopener">DIBS</a> Business Partner
        .col-xs-12.col-sm-4.footer-section
          p.header Follow us wherever you go
          a(href="/").social-link.linkedin
            <svg version="1.1 id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http:www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 33 33" style="enable-background:new 0 0 33 33;" xml:space="preserve">
            <circle class="svg2 soCircle" cx="16.5" cy="16.5" r="15.5"></circle>
            <g><text transform="matrix(1 0 0 1 9.0001 21.1089)" class="svg4 svg-font svg6">In</svg> 
          a(href="/").social-link.facebook
            <svg version="1.1 id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http:www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 33 33" style="enable-background:new 0 0 33 33;" xml:space="preserve">
            <circle class="svg2 soCircle" cx="16.5" cy="16.5" r="15.5"></circle>
            <g><text transform="matrix(1 0 0 1 12.9498 20.021)" class="svg4 svg-font svg6">f</svg>
          .lastCol
            p.header Join us
            address
              p We are always looking for talents. <br> Take a look at the <a href="/">available positions</a>
            