.container
    section#view1(data-component="ai-carousel")
        .glide
            .glide__track(data-glide-el="track")
                ul.glide__slides
                    li.glide__slide 0
                    li.glide__slide 1
                    li.glide__slide 2
        .glide__arrows(data-glide-el="controls")
            button.glide__arrow.glide__arrow--left(data-glide-dir="<") prev
            button.glide__arrow.glide__arrow--right(data-glide-dir=">") next
