.container
    section#view3
        .row.module.module-inview.ai-component(data-component="module")
            .col-xs-12.col-md-6
                .ai-view3-left-illu
            .col-xs-12.col-md-6
                .ai-view3-right-text
                    h2 Header
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate.

                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque dolorum aperiam reiciendis sequi accusamus laudantium sed? Voluptatum vitae id sint nihil amet at soluta voluptas doloribus consequuntur. Debitis, velit? Fugiat!

