.container.view2
    section#view2
        .row.module.module-inview.ai-component(data-component="module")
            .col-xs-12.col-md-6
                .ai-view2-left-text.module-content
                    h2 What business potential do Ai have?
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate.
                    p adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
            .col-xs-12.col-md-6
                .hero-illustration(data-component="bodymovin2")
                    .image-container1(data-json="/assets/bodymovin/bizz.json")
