.container(data-component="caselist")
    section.cases
    .row.module.case-list.module-inview(data-component="module")
        .col-xs-12.col-md-6
            .module-content
                p.tag The Greenlandic Agency for Digitalization
                h2 Building a digital society for Greenlandic citizens
                p The Greenlandic Agency for Digitization has been working with 1508 Group for more than 10 years to maintain and develop multiple Sitecore solutions, www.sullissivik.gl being the most important.
                a(href="https://www.stromlin.dk/work/the-greenlandic-agency-for-digitization/" data-component="primary").primary-link
                    span See the full case
        .col-xs-12.col-md-6
            .module-image(data-component="moduleimage")
                img(src="/assets/images/greenland.webp")
    .row.module.case-list(data-component="module")
        .col-xs-12.col-md-6
            .module-content
                p.tag Copydan
                h2 Building multisites and brand experience
                p Four new websites for Copydan's 4 AV associations
                a(href="https://www.stromlin.dk/work/copydan/" data-component="primary").primary-link
                    span See the full case
        .col-xs-12.col-md-6.first-md
            .module-image(data-component="moduleimage")
                img(src="/assets/images/copydan.png")
.umb-grid
    .grid-section
                